.dataTable .dataGrid {
  background: white;
  padding: 20px;
}

.dataTable .dataGrid .MuiDataGrid-toolbarContainer {
  flex-direction: row-reverse;
}

.dataTable .dataGrid img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.dataTable .dataGrid .action {
  display: flex;
  gap: 15px;
}

.dataTable .dataGrid .action img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.table .Status.Approved {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}

.table .Status.Pending {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}

.dataTableWrapper {
  max-width: 100%;
  overflow-x: auto;
}
/* Add the following CSS styles to the existing CSS file */

/* Make the table container responsive */
.dataTable {
  width: 100%;
  overflow-x: auto;
}

/* Adjust the column width for small screens */
@media screen and (max-width: 768px) {
  .MuiDataGrid-columnHeaderTitle {
    font-size: 12px;
  }

  .MuiDataGrid-colCellTitle {
    font-size: 12px;
  }

  .MuiDataGrid-cell {
    font-size: 12px;
  }
}