 .show1 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.show1 .modal1 {
  padding: 50px;
  border-radius: 10px;
  background-color: #E0E7E9;
  position: relative;
}


.show1 .modal1 h1 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #4C4556;
}

.close {
  position: absolute;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 24px;
  border: 2px solid rgba(25, 0, 255, 0.116);
  border-radius: 80%;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
}

