 .add {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add .modal1 {
  padding: 50px;
  border-radius: 10px;
  background-color: #2a3447;
  position: relative;
}


.add .modal1 h1 {
  margin-bottom: 40px;
  font-size: 24px;
  color: #ffffff;
}

.add .modal1 .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
}

.add .modal1 form {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: space-between;
}

.add .modal1 form .item {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.add .modal1 form .item label {
  font-size: 14px;
  color: white;
}

.add .modal1 form .item input {
  padding: 10px;
  background-color: transparent;
  color: white;
  outline: none;
  border: 1px solid rgba(13, 59, 211, 0.123);
  border-radius: 3px;
}

.add .modal1 form button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
} 